* {
  font-family: "Fira Sans";
  margin: 0;
}

#table td {
    padding: 12px 8px 12px 40px;
 
}



#table th {
	font-weight: normal;
    background: #2778fe;
    color: white;
    text-shadow: 1px 1px 0px #777;
    width: 120px;
	border: 0;
    text-align: left;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
    padding: 12px 8px 12px 40px;

}

#table {
    margin-top: 20px;
    padding: 0;
    border: solid 1px #7be;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;

}

table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

#dark {
	background: #eee;
}