{% extends "navbar_template.html" %}
{% load static %}
{% block content %}
        <div class="container">
            <div class="header">
                <h1 class="title">{% block resource-name-header%}{% endblock %}</h1>
                {% block add-resource %}{% endblock %}
            </div>
            <ul id="list">
                {% for model in models %}
                    {% block model-definition %}{% endblock %}
                {% empty %}
                    <p id="noResources">{% block empty-models-comment %}{% endblock %}</p>
                {% endfor %}
            </ul>
        </div>

        <div id="addModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span id="closeAddModal" class="close-modal">&times;</span>
                    <h2>{% block add-modal-header%}{% endblock %}</h2>
                </div>
                <div class="modal-body">
                    {% block add-modal-body%}{% endblock %}
                </div>
            </div>
        </div>

        <div id="editModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span id="closeEditModal" class="close-modal">&times;</span>
                    <h2>{% block edit-modal-header%}{% endblock %}</h2>
                </div>
                <div class="modal-body">
                    {% block edit-modal-body%}{% endblock %}
                </div>
            </div>
        </div>

        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span onClick="closeDeleteModal();" class="close-modal">&times;</span>
                    <h2>{% block delete-modal-header%}{% endblock %}</h2>
                </div>
                <div id= "deleteModalBody" class="modal-body">
                    {% block delete-modal-body%}{% endblock %}
                </div>
            </div>
        </div>

{% endblock %}
