{% extends "navbar_template.html" %}
{% load static %}
{% block content %}
        <div class="container">
            <div class="header">
                <h1 class="title">{% block resource-name-header%}{% endblock %}</h1>
				<hr style="width: 100%;  height: 2px; background: #cfd6fc; margin-left:2px; border: 0">
				<br/>
				<br/>
				<br/>
                {% block add-resource %}{% endblock %}
            </div>
            <ul id="list">
                {% block custom-datastructure %}{% endblock %}
            </ul>
        </div>
        <!--<esc>{<esc>% if not forloop.last <esc>%<esc>}<esc>{<esc>% ifequal forloop.revcounter 2 <esc>%<esc>},</br><esc>{<esc>% else <esc>%<esc>},</br><esc>{<esc>% endifequal <esc>%<esc>}<esc>{<esc>% else <esc>%<esc>}<esc>{<esc>% endif <esc>%<esc>}-->
        <div id="successModal" class="modal">
            <div class="modal-content modal-bootstrap-overrides">
                <div class="modal-header">
                    <h2>{% block success-modal-header%}{% endblock %}</h2>
                </div>
                <div id= "successModalBody" class="modal-body">
                    {% block success-modal-body%}{% endblock %}
                </div>
            </div>
        </div>
        <div id="addModal" class="modal">
            <div class="modal-content modal-bootstrap-overrides">
                <div class="modal-header">
                    <span id="closeAddModal" class="close-modal">&times;</span>
                    <h2>{% block add-modal-header%}{% endblock %}</h2>
                </div>
                <div class="modal-body">
                    {% block add-modal-body%}{% endblock %}
                </div>
            </div>
        </div>

        <div id="editModal" class="modal">
            <div class="modal-content modal-bootstrap-overrides">
                <div class="modal-header">
                    <span id="closeEditModal" class="close-modal">&times;</span>
                    <h2>{% block edit-modal-header%}{% endblock %}</h2>
                </div>
                <div class="modal-body">
                    {% block edit-modal-body%}{% endblock %}
                </div>
            </div>
        </div>

        <div id="deleteModal" class="modal">
            <div class="modal-content modal-bootstrap-overrides">
                <div class="modal-header">
                    <span onClick="closeDeleteModal();" class="close-modal">&times;</span>
                    <h2>{% block delete-modal-header%}{% endblock %}</h2>
                </div>
                <div id= "deleteModalBody" class="modal-body">
                    {% block delete-modal-body%}{% endblock %}
                </div>
            </div>
        </div>

        <div id="infoORAModal" class="modal">
            <div class="modal-content modal-bootstrap-overrides">
                <div class="modal-header">
                    <h2>{% block info-ora-modal-header%}{% endblock %}</h2>
                </div>
                <div id= "infoORAModalBody" class="modal-body">
                    {% block info-ora-modal-body%}{% endblock %}
                </div>
            </div>
        </div>
        <div id="addAssignmentModal" class="modal">
            <div class="modal-content modal-bootstrap-overrides">
                <div class="modal-header">
                    <span id="closeAddAssignmentModal" class="close-modal">&times;</span>
                    <h2>{% block add-assignment-modal-header%}{% endblock %}</h2>
                </div>
                <div class="modal-body">
                    {% block add-assignment-modal-body%}{% endblock %}
                </div>
            </div>
        </div>
        <div id="deleteAssignmentModal" class="modal">
            <div class="modal-content modal-bootstrap-overrides">
                <div class="modal-header">
                    <span onClick="closeDeleteAssignmentModal();" class="close-modal">&times;</span>
                    <h2>{% block delete-assignment-modal-header%}{% endblock %}</h2>
                </div>
                <div id= "deleteAssignmentModalBody" class="modal-body">
                    {% block delete-assignment-modal-body%}{% endblock %}
                </div>
            </div>
        </div>
{% endblock %}
