{% extends "navbar_template.html" %}
{% load static %}
{% block content %}
    <div>
        <br/><br/>
        <h2 style="color:  #303030; padding-left: 100px; font-size: 30px; font-weight: normal; ">Witaj w aplikacji SMOK</h2> <br/><br/>
        <p style="color:  #303030; text-align: justify; text-justify: inter-word; width: 60%; line-height: 1.9; padding-left: 100px ">Nasza aplikacja jest idealnym narzędziem wspierającym organizację roku szkolnego i oferującym <strong>pomoc w sprawnym ułożeniu tygodniowego planu zajęć</strong> w trybie graficznym, w oparciu o dane wprowadzone w programie (grupy i ich profile, sale, przedmioty i obsada).
        Oferujemy przejrzystość, prostotę obsługi i estetykę. Dane wprowadzane są do systemu w osobnych zakładkach widocznych w pasku nawigacyjnym, co pozwala na łatwą kontrolę zasobów.
        Plan jest generowany automatycznie z dostępnych zasobów, a ręcznej korekty na siatce planu można dokonywać myszką.
        <strong>Logika wprowadzania danych jest zgodna ze szkolną praktyką - podstawą są plany nauczania w klasach.</strong>
        Podczas układania planu lekcji możemy zapisywać dowolną liczbę różnych wersji planu oraz usuwać te niepotrzebne.
        Wygenerowane plany są przejrzyste - <strong>dostępne w wersji online oraz w formacie PDF</strong> - czyli łatwo dostępne dla nauczycieli.</p><br/>
    </div>
{% endblock %}
