<!DOCTYPE html>
{% extends "base_resources_list.html" %}
{% load static %}

{% block css %}
{{block.super}}
{% endblock %}

{% block js %}
{{block.super}}
<script>
    var addURL = "{% url 'groups:add' %}";
    var editURL = "{% url 'groups:edit' %}";
    var deleteURL = "{% url 'groups:delete' %}";
</script>
<script src="{% static "/js/groups.js" %}"></script>
{% endblock %}

{% block resource-name-header%}Klasy{% endblock %}

{% block add-resource %}<span id="newItem">&#43; nowa klasa</span>{% endblock %}

{% block model-definition %}
<li id="{{ model.id }}">
    <span id="resource-name-{{ model.id }}" class="list-element">{{ model.name }}</span>
    <span class="edit" onClick="edit_item({{ model.id }});">&#x2702;</span>
    <span id="resource-delete-{{ model.id }}" class="close" onClick="delete_item({{ model.id }}, '{{ model.name }}');">&#215;</span>
</li>
{% endblock %}

{% block empty-models-comment %}Brak zapisanych klas.{% endblock %}

{% block add-modal-header%}Dodaj nową klasę{% endblock %}
{% block add-modal-body%}
<form action='' method="POST" class="add_group" autocomplete="off">{% csrf_token %}
    <div id="addForm" class="form"></div>
    <input class="send" type="submit" value="Dodaj" />
</form>
{% endblock %}

{% block edit-modal-header%}Edytuj klasę <span class="groupName"></span>{% endblock %}
{% block edit-modal-body%}
<form action='' method="POST" class="edit_group" autocomplete="off">{% csrf_token %}
    <div id="editForm" class="form"></div>
    <input class="send" type="submit" value="Zapisz" />
</form>
{% endblock %}

{% block delete-modal-header%}Czy na pewno chcesz usunąć klasę <span class="groupName"></span>?{% endblock %}
{% block delete-modal-body%}
<button class="cancel send" onClick="closeDeleteModal();">Anuluj</button>
{% endblock %}
