<!DOCTYPE html>
{% extends "base_resources_list.html" %}
{% load static %}

{% block css %}
{{block.super}}
{% endblock %}

{% block js %}
{{block.super}}
<script>
    var addURL = "{% url 'subjects:add' %}";
    var editURL = "{% url 'subjects:edit' %}";
    var deleteURL = "{% url 'subjects:delete' %}";
</script>
<script src="{% static "/js/subjects.js" %}"></script>
{% endblock %}

{% block resource-name-header%}Przedmioty{% endblock %}

{% block add-resource %}<span id="newItem" class="button">&#43; nowy przedmiot</span>{% endblock %}

{% block list-header-definition %}
<span class="row-content">Nazwa przedmiotu</span>
{% endblock %}

{% block model-definition %}
<li id="{{ model.id }}">
    <span id="resource-name-{{ model.id }}" class="list-element">{{ model.name }}</span>
    <span class="edit" onClick="edit_item({{ model.id }});">&#x2702;</span>
    <span id="resource-delete-{{ model.id }}" class="close" onClick="delete_item({{ model.id }}, '{{ model.name }}');">&#215;</span>
</li>
{% endblock %}

{% block empty-models-comment %}Brak zapisanych przedmiotów.{% endblock %}

{% block add-modal-header%}Dodaj nowy przedmiot{% endblock %}
{% block add-modal-body%}
<form action='' method="POST" class="add_subject" autocomplete="off">{% csrf_token %}
    <div id="addForm" class="form"></div>
    <input class="send button" type="submit" value="Dodaj" />
</form>
{% endblock %}

{% block edit-modal-header%}Edytuj przedmiot <span class="subjectName"></span>{% endblock %}
{% block edit-modal-body%}
<form action='' method="POST" class="edit_subject" autocomplete="off">{% csrf_token %}
    <div id="editForm" class="form"></div>
    <input class="send button" type="submit" value="Zapisz" />
</form>
{% endblock %}

{% block delete-modal-header%}Czy na pewno chcesz usunąć przedmiot <span class="subjectName"></span>?{% endblock %}
{% block delete-modal-body%}
<button class="cancel send" onClick="closeDeleteModal();">Anuluj</button>
{% endblock %}
