<!DOCTYPE html>
{% extends "base_resources_list.html" %}
{% load static %}

{% block css %}
{{block.super}}
{% endblock %}

{% block js %}
{{block.super}}
<script>
    var addURL = "{% url 'subjects-views-add-subject' %}";
    var editURL = "{% url 'subjects-views-edit-subject' %}";
    var deleteURL = "{% url 'subjects-views-delete-subject' %}";
</script>
<script src="{% static "js/subjects.js" %}"></script>
{% endblock %}

{% block resource-name-header%}Twoje przedmioty{% endblock %}

{% block add-resource %}<span id="newItem">&#43; nowy przedmiot</span>{% endblock %}

{% block model-definition %}
<li id="{{ model.id }}">
    <span id="resource-name-{{ model.id }}" class="list-element">{{ model.name }}</span>
    <span class="edit" onClick="edit_item({{ model.id }});">&#x2702;</span>
    <span class="close" onClick="delete_item({{ model.id }});">&#215;</span>
</li>
{% endblock %}

{% block empty-models-comment %}Brak zapisanych przedmiotów.{% endblock %}

{% block add-modal-header%}Nowy przedmiot{% endblock %}
{% block add-modal-body%}
<form action='' method="POST" class="add_subject" autocomplete="off">{% csrf_token %}
    <div id="addForm"></div>
    <input type="submit" value="Dodaj" />
</form>
{% endblock %}

{% block edit-modal-header%}Edytuj przedmiot{% endblock %}
{% block edit-modal-body%}
<form action='' method="POST" class="edit_subject" autocomplete="off">{% csrf_token %}
    <div id="editForm"></div>
    <input type="submit" value="Zapisz" />
</form>
{% endblock %}
