{% extends 'navbar_template.html' %}

{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'teachers\teachers.css' %}" />
{% endblock %}

{% block content %}
    <h2>Nauczyciele</h2>
	{% if object_list %}
		<table width="100%">
			<tr class="head">
				<td width="5%">Lp.</td>
				<td width="12%">Imię</td>
				<td width="12%">Nazwisko</td>
				<td width="30%">Przedmioty</td>
				<td width="30%">Grupy</td>
				<td width="5%"></td>
				<td width="5%"></td>
				<td width="5%"></td>
			</tr>
			
			{% for teacher in object_list %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{teacher.first_name}}</td>
					<td>{{teacher.last_name}}</td>
					<td>{{ teacher.subjects.all|join:", "}}</td>
					<td>{{ teacher.groups.all|join:", "}}</td>
					<td align="right"><a href="{% url 'availability:input' teacher.pk%}"><img width='12' height='12' src="{% static "commons\images\calendar.jpg" %}" alt="Calendar"/></a></td>
					<td align="center"><a href="{% url 'teachers:update' teacher.pk%}"><img width='12' height='12' src="{% static "commons\images\edit_symbol.jpg" %}" alt="Edit"/></a></td>
					<td align="left"><a href="{% url 'teachers:delete' teacher.pk%}"><img width='12' height='12' src="{% static "commons\images\delete_symbol.jpg" %}" alt="Delete"/></a></td>
				</tr>
			{% endfor %}
			
			<td colspan="4"></td>
			<td colspan="3" align="right"><a href="{% url 'teachers:add' %}"><img width='20' height='20' src="{% static "commons\images\add_symbol.jpg" %}" alt="Dodaj"/></a></td>
		</table>
	{% else %}
		<br/>
		Brak nauczycieli do wyświetlenia
		<br/><br/>
		<table width="100%">
			<td colspan="4"></td>
			<td colspan="3" align="center"><a href="{% url 'teachers:add' %}"><img width='20' height='20' src="{% static "commons\images\add_symbol.jpg" %}" alt="Dodaj"/></a></td>
		</table>
	{% endif %}
{% endblock %}
