<style type="text/css">
* {
    box-sizing: border-box;
}

body#bootstrap-overrides {
  /*line-height: 1;*/
  font-size: 16px;
  line-height: 1.22857143;
}

/* Remove margins and padding from the list */
ul#list {
    margin-top: 20px;
    padding: 0;
    border: solid 1px #7be;
	border-radius: 5px;
	
}

ul#list li#list-header {
    background: #2778fe;
    color: white;
    text-shadow: 1px 1px 0px #777;
}

ul#list li#list-header:hover {
    cursor: default;
}

ul#list .row-content {
    width: 250px;
    display: inline-block;
    text-align: left;
}

ul#list .row-content-longer {
    width: 565px;
    display: inline-block;
    text-align: left;
}

/* Style the list items */
ul#list li {
    cursor: pointer;
    position: relative;
    list-style-type: none;
    padding: 12px 8px 12px 40px;
    background: #eee;
    /*font-size: 18px;*/
    transition: 0.2s;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul#list li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul#list li:hover {
    background: #7cf;
}



/* When clicked on, add a background color*/
ul#list li.checked {
    background: #2778fe;
    color: #fff;
}

ul#list li.hide {
    display:none;
}

/* Add a "checked" mark when clicked on */
ul#list li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the edit button */
.edit {
    position: absolute;
    right: 54px;
	bottom: 0px;
    padding: 12px 16px 12px 16px;
    width: 22px;
    text-align: center;
    cursor: pointer;
    /*transition: 0.3s;*/
    background-color : transparent;
}

.edit:hover {
    background-color: #2af;
    color: white;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
	bottom: 0px;
    padding: 12px 16px 12px 16px;
    width: 22px;
    text-align: center;
    cursor: pointer;
    /*transition: 0.3s;*/
    background-color : transparent;
}

.close:hover {
    background-color: #2af;
    color: white;
}

.close-secondary:hover {
    /*background-color: #2af;*/
    color: white;
}

a.calendar {
	text-decoration: none;
	padding: 12px 16px 12px 16px;
	width: 22px;
	bottom: 0px;
	right: 108px;
	text-align: center;
    cursor: pointer;
	position: absolute;
    background-color : transparent;
}

/* Style the close button */
.close-profile-subj {
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    width: 22px;
    text-align: center;
    cursor: pointer;
    /*transition: 0.3s;*/
    background-color : transparent;
}

.close-profile-subj:hover {
    #background-color: #2af;
    color: #2af;
}

p#noResources {
    position: relative;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 0px;
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 16px;
}

.list-element {
    display: block;
    position: relative;
    right: 0;
    top: 0;
}

.inner {
    display: inline;
}

.confirm {
    display: inline-block;
    float: left;
}

/* Style the input */
input {
    font-size: 16px;
}

.cancel {
    margin-left:10px;
}

#addForm {
    margin-bottom: 10px;
}

input.input-field {
    width: 120px;
    float: right;
    margin-bottom: 5px;
}

.form-group {
    display:table-row;
    padding:5px;
}

.form {
    display:table;
    text-align: left;
}

.form-disp label{
    /*font-weight: bold;*/
    font-size: 18px;
    text-align: right;
    width: 90px;
    margin-right: 10px;
    display: inline-block;
}

/*work in progress*/
div.form-disp select {
    background-color: white;
    -webkit-appearance: none;
    align-items: right;
    white-space: pre;
    text-overflow: '';
    box-sizing: '';
    border-style: none;
    border-width: 0px;
    font: "Fira Sans";
    font-size: 18px;
    border-image: none;
    font-weight: bold;
    text-align: right;
}

div.form-disp select:disabled {
    color: black;
}
/*####*/

.form-disp {
    padding:5px;
}

.modal label {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    width: 90px;
    margin-right: 10px;
    display: inline-block;
}

/* Style the new item span */
.button {
    padding: 10px 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    background-color: #2778fe;
    border: solid 1px #069;
    color: white;
    text-shadow: 1px 1px 0px #777;
    border-radius: 5px;
}

.button-secondary {
    padding: 5px 3px;
    text-align: center;
    cursor: pointer;
    background-color: #2778fe;
    border: solid 1px #069;
    color: white;
    text-shadow: 1px 1px 0px #777;
    border-radius: 5px;
}

.button-right {
    margin: 10px;
}

.form-button {
    margin: 10px;
}

input:disabled,
input[disabled],
input[disabled]:hover{
  border: 1px solid #999999;
  background-color: #cccccc;
}

.button:hover {
    background-color: #2af;
    border: solid 1px #2778fe;
}

.button-secondary:hover {
    background-color: #2af;
    border: solid 1px #2778fe;
}

.discraparency-warning {
    color: red;
}

.discraparency-warning:hover {
    color: white;
}

/*Modal*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
	border-radius: 5px;
    /*width: 30%;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-bootstrap-overrides {
    width: 30%;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close-modal {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #08c;
    color: white;
    border: solid 1px #046;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.modal-body {padding: 10px 50px;}

a.no-format {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    text-shadow: none;
}

a.no-format:hover {
    background-color: transparent;
    color: white;
}

</style>
