        html, body {
		       margin:0;
		       padding:0;
		       height:100%;
        }

body {
	background-color: #f3f2f3;
}


	
div#navbar
{
   position:fixed;
   top: 0;
   margin:auto;
   left: 0;
   right: 0;
   width: 100%;
   z-index:1;
}

img.fotterImage {
    display: block;
	margin: auto;
    width: 100px;
	padding-top: 100px;
	padding-bottom: 5px;
	background-color: #f3f2f3;
}


#navbar_ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2778fe;
    border-bottom: solid 1px  #0158e4;
}

.navbar-li {
    float: left;
    border-right: solid 1px  #0158e4;
}

.username {
    float: right;
    border-left: solid 1px  #0158e4;
    border-right: solid 1px  #0158e4;
}

li a#bootstrap-overrides, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #777;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #2af;
}

.loading-modal-custom {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                50% 40%
                no-repeat;
}

body.loading-custom {
    overflow: hidden;
}

body.loading-custom .loading-modal-custom {
    display: block;
}

.dropdown {
    display: inline-block;
}

span.loading-container {
    margin: 0;
    /*background: yellow;*/
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

img.displayed-custom {
    /*display: block;*/
    margin-left: auto;
    margin-right: auto }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

