* {
  font-family: "Fira Sans";
  margin: 0;
}

.col2{
	background: silver;
}

#content {
  padding: 15px;
}

#content .title {
  font-size: 37px;
  margin: 10px 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: normal;
  color:  #303030;

}

h1, h2 {
  
}