<!DOCTYPE html>
{% extends "base_custom_structure_resources_list.html" %}
{% load static %}

{% block css %}
{{block.super}}
{% endblock %}

{% block js %}
{{block.super}}
<script>
    var addURL = "{% url 'teachers:add' %}";
    var editURL = "{% url 'teachers:edit' %}";
    var deleteURL = "{% url 'teachers:delete' %}";
    var addAssignmentURL = "{% url 'teachers:add-teacher-assignment' %}";
    var deleteAssignmentURL = "{% url 'teachers:delete-teacher-assignment' %}";
</script>
<script src="{% static "/js/teachers.js" %}"></script>
{% endblock %}

{% block resource-name-header%}Nauczyciele{% endblock %}

{% block add-resource %}<span id="newItem" class="button">&#43; nowy nauczyciel</span>{% endblock %}

{% block custom-datastructure %}
<li id="list-header">
    <span class="row-content" style="width:200px;">Nazwisko</span>
    <span class="row-content" style="width:200px;">Imię</span>
    <span class="row-content" style="width:200px;">Łącznie godzin w tygodniu</span>
    <span class="row-content-longer">Przydział przedmiotu i grupy</span>
</li>

{% for teacher, total_hours, assignments in teachers_list_custom %}
    <li id="{{ teacher.id }}">
        <span class="row-content" style="width:200px;"><span id="resource-lastName-{{ teacher.id }}" class="list-element">{{ teacher.last_name }}</span></span>
        <span class="row-content" style="width:200px;"><span id="resource-firstName-{{ teacher.id }}" class="list-element">{{ teacher.first_name }}</span></span>
        <span class="row-content" style="width:200px;"><span id="resource-hours-{{ teacher.id }}" class="list-element">{{ total_hours }}</span></span>
        <span class="row-content-longer"><span class="list-element">
            <div id="assignments-container-teacher-{{ teacher.id }}">
               {% for assignment in assignments %}
                   <span id="teacher-{{ teacher.id }}-assignment-{{ assignment.0.id }}" class="list-element">
                   &#9679; <a class="no-format" href="{% url 'subjects:list' %}">{{ assignment.0.subject }}</a> w grupie <a class="no-format" href="{% url 'groups:group_list' %}">{{ assignment.0.group }}</a> (<a class="no-format" href="{% url 'classProfiles:profile' assignment.0.group.group_profile.id %}">{% if assignment.1 == "MISSING" %}<span class="discraparency-warning">brak przedmiotu w profilu grupy</span>{% else %}{{ assignment.1 }} godz. w tyg.{% endif %}</a>) <span id="resource-delete-assignment-{{ assignment.0.id }}" class="close-secondary" onClick="delete_assignment({{ assignment.0.id }}, {{ teacher.id }}, '{{ assignment.0.subject }} - {{ assignment.0.group }}');">&#x2717;</span>
                   </span>
               {% endfor %}
            </div>
            </br>
            <span onClick="addAssignmentToTeacher({{ teacher.id }})" class="button-secondary">&#43; nowy przydział</span>
        </span></span>
        <span><a href="{% url 'availability:input' teacher.id%}" class="calendar">&#128197;</a></span>
        <span class="edit" onClick="edit_item({{ teacher.id }});">&#x1f589;</span>
        <span id="resource-delete-{{ teacher.id }}" class="close" onClick="delete_item({{ teacher.id }}, '{{ teacher }}');">&#x232b;</span>
    </li>
{% empty %}
    <p id="noResources">Brak zapisanych nauczycieli.</p>
{% endfor %}

{% endblock %}



{% block success-modal-header%}Informacja{% endblock %}
{% block success-modal-body%}
Nauczyciel o podanym imieniu i nazwisku już istnieje.
{% endblock %}

{% block add-modal-header%}Dodaj nowego nauczyciela{% endblock %}
{% block add-modal-body%}
<form action='' method="POST" class="add_teacher" autocomplete="off">{% csrf_token %}
    <div id="addForm" class="form"></div>
    <input class="send button" type="submit" value="Dodaj" />
</form>
{% endblock %}

{% block edit-modal-header%}Edytuj nauczyciela <span class="teacherName"></span>{% endblock %}
{% block edit-modal-body%}
<form action='' method="POST" class="edit_teacher" autocomplete="off">{% csrf_token %}
    <div id="editForm" class="form"></div>
    <input class="send button" type="submit" value="Zapisz" />
</form>
{% endblock %}

{% block delete-modal-header%}Czy na pewno chcesz usunąć nauczyciela <span class="teacherName"></span>?{% endblock %}
{% block delete-modal-body%}
<button class="cancel send" onClick="closeDeleteModal();">Anuluj</button>
{% endblock %}

{% block info-ora-modal-header%}Informacja{% endblock %}
{% block info-ora-modal-body%}
Nauczyciel ma już przydzielony ten przedmiot do tej grupy.
{% endblock %}

{% block add-assignment-modal-header%}Dodaj nowy przydział dla <span class="teacherName"></span>{% endblock %}
{% block add-assignment-modal-body%}
<form action='' method="POST" class="add_assignment" autocomplete="off">{% csrf_token %}
    <div id="addAssignmentForm" class="form"></div>
    <input class="send button" type="submit" value="Dodaj" />
</form>
{% endblock %}

{% block delete-assignment-modal-header%}Czy na pewno chcesz usunąć przydział <span class="assignmentName"></span> u nauczyciela <span class="teacherName"></span>?{% endblock %}
{% block delete-assignment-modal-body%}
<button class="cancel send" onClick="closeDeleteAssignmentModal();">Anuluj</button>
{% endblock %}
