{% extends 'navbar_template.html' %}

{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'availability\availability.css' %}" />
{% endblock %}

{% block content %}
    <h1 class="title">{{teacher}}</h1>
	<form action="{% url 'availability:save' teacher_id%}" method="post">
		{% csrf_token %}
		<div id="table_container" class="clearfix">
		<table width="50%" >
			<tr class="head">
				<td>Godzina</td>
				{% for day in days %}
					<td>{{day}}</td>
				{% endfor %}
			</tr>
			
			{% for hour in hours %}
				<tr >
					<td >{{ hour }}</td>
					{% for day in days %}
						{% with daystr=day.pk|stringformat:"s" hourstr=hour.pk|stringformat:"s" %}
							{%if daystr|add:"/"|add:hourstr in is_check_selected%}
								<td ><label class="container"><input type="checkbox" id="checked" name="{{day.pk}}/{{hour.pk}}" value="no" checked><span class="checkmark"></span></label></td>
							{% else %}
								<td ><label class="container"><input type="checkbox" id="notChecked" name="{{day.pk}}/{{hour.pk}}" value="no"><span class="checkmark"></span></label></td>
							{% endif %}
						{% endwith %}
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
</div>		
<div id="bottom">
				<span ><input type="button" value="Powrót" onclick="history.back(-1)" class="button" /></span>
				<span ><input type="submit" value="Zapisz" class="button"> </span>
</div>
	</form>
{% endblock %}


