{% extends 'navbar_template.html' %}

{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'teachers\teachers.css' %}" />
{% endblock %}

{% block content %}
    <h2>{{teacher_id}}</h2>
	<form action="{% url 'availability:input' teacher_id%}" method="post">
		{% csrf_token %}
		<table width="40%">
			<tr >
				<td>Godzina</td>
				{% for day in days %}
					<td>{{day}}</td>
				{% endfor %}
			</tr>
			
			{% for hour in hours %}
				<tr >
					<td >{{ hour }}</td>
					{% for day in days %}
						<td><input type="checkbox" name="{{day.pk}}/{{hour.pk}}" value="yes"></td>
					{% endfor %}
				</tr>
			{% endfor %}
			
			<tr> <td colspan="{{days_count}}"><input type="submit" value="Submit"> </td></tr>
		</table>
	</form>
{% endblock %}
